@font-face {
    src: url("ocra.otf");
    font-family: "ocra";
}
.footer {
    margin-top: 100px;
    height: 100px;
    clear: both;
    position: relative;
}
body {
    margin-left: 20%;
    margin-right: 20%;
    background-color: black;
    color: white;
    text-shadow: 0 0 4px #00ff00; 
    font-family: ocra;
    font-size: 12px;
    font-weight: 400;
}
hr {
    height: 10px;
    border: 0;
    box-shadow: 0 10px 10px -10px #00ff00 inset;
}
p {
    text-indent: 2em;
}
h1 {
    text-align: center;
}
a {
    color: white;
    text-decoration: underline;
}
// Thanks https://gist.github.com/Zorbash/4032473
